<!-- Top Header -->
<div class="top-header text-dark text-center py-2 " style="background-color: #90F0F1;">
  Save on Mother's Day gifts from $50 at Shop Simon. <strong>Shop Now</strong>
</div>

<!-- Sticky Navbar -->
<div class="container-fluid sticky-top" style="background-color: black;">
  <div class="container sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top shadow-sm">
      <div class="container-fluid px-4">
        <!-- Logo      mmm-->
        <!-- Logo ---->
        <a class="navbar-brand" (click)="gethome()">
          <img src="assets/S.G logo.png" alt="Logo" height="50" />
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div [ngClass]="{'collapse navbar-collapse': true, 'show': toggleNavbar}" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown" [class.show]="dropdownOpen">
              <a class="nav-link dropdown-toggle text-white" href="javascript:void(0);" (click)="toggleDropdown()">
                Shop
              </a>
              <div *ngIf="dropdownOpen" class="dropdown-menu show mt-3" style="width: 50rem; margin-left: -20rem;">
                <div class="row">
                  <div class="col-md-4 border-end" style="max-height: 300px; overflow-y: auto;">
                    <div class="p-2">
                      <p class="menss"  *ngFor="let items of cdata" (click)="OnSelectCatbySubcat(items._id)">{{ items.catName }}</p>
                    </div>
                  </div>
                  
                  <div class="col-md-8">
                    <div *ngIf="productData && productData.length > 0; else noProducts">
                      <div class="row">
                        <div class="col-md-6" *ngFor="let item of productData">
                          <p (click)="getId(item.subcategoryId._id)" style="cursor: pointer;">{{ item.subcategoryId.subCategoryName }}</p>
                        </div>
                      </div>
                    </div>
                    <ng-template #noProducts>
                      <p>No Products</p>
                    </ng-template>
                  </div>
                  
                  

                </div>
              </div>
              
            </li>
            
            

            <!-- Deals -->
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/products/deals">Deals</a>
            </li>

            <!-- How It Works -->
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/products/howitwork">How It Works</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/products/howitwork">Shipping calculate</a>
            </li>
          </ul>


          <form class="d-flex ms-auto align-items-center">
            <div class="position-relative me-2" style="width: 250px;">
              <input class="form-control" type="search" placeholder="Search product brands"
                style="border-radius: 16px; padding-right: 2.5rem;" />

              <i class="fa fa-search text-muted position-absolute"
                style="top: 50%; right: 15px; transform: translateY(-50%); pointer-events: none;"></i>
            </div>

            <!-- <button type="submit" class="btn p-0 border-0 bg-transparent"> -->
            <!-- </button> -->
          </form>
          <span routerLink="/login"><i class="fa fa-user-plus text-white" aria-hidden="true" style="font-size: 20px;"></i></span>

        </div>
      </div>
    </nav>
  </div>
</div>