

<app-header></app-header>
  <h1 class="heading">Find the Best Deals, All in One Place</h1>
  <p style="margin-left: 9%; font-size: 20px; opacity: 40%; " >
    The best deals and sales from your favourite stores, plus get exclusive free shipping <br>and price drop alerts   </p>

  <h2 class="Top-Deals"> Top Deals</h2>
  <div class="brand-row">
    <div>
      <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
    </div>
    <div>
      <img src="assets/deals/h&m.svg" alt="card"><br>H&M
    </div>
    <div>
      <img src="assets/deals/higfiger.svg" alt="card"><br> higfiger
    </div>
    <div>
      <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
    </div>
    <div>
      <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
    </div>
  </div>




  <h2 class="FreeDay-Shipping"> Deals with Free 2-Day Shipping</h2>
  <div class=" free-delivery">
    <div>
      <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
    </div>
    <div>
      <img src="assets/deals/h&m.svg" alt="card"><br>H&M
    </div>
    <div>
      <img src="assets/deals/higfiger.svg" alt="card"><br> higfiger
    </div>
    <div>
      <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
    </div>
    <div>
      <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
    </div>
  </div>


  <h2 class="Explore-more">Explore more deals</h2>
  <div class="explore-buttons">
  <button type="button" class="btn btn-dark" >All Deals</button>
<button type="button" class="btn btn-outline-secondary">Men</button>
<button type="button" class="btn btn-outline-secondary">Women</button>
<button type="button" class="btn btn-outline-secondary">Kids</button>
<button type="button" class="btn btn-outline-secondary">Sweets</button>
<button type="button" class="btn btn-outline-secondary">Pickles</button>
<button type="button" class="btn btn-outline-secondary">Beauty</button>
<button type="button" class="btn btn-outline-secondary">Health & Wellness</button>
</div>


<div class="Explore-cards">
  <div>
  <div>
    <img src="assets/deals/mama earth.svg" alt="card"><br> Mama Earth
  </div>
  <div>
    <img src="./h&m.svg" alt="card"><br>H&M
  </div>
  <div>
    <img src="./higfiger.svg" alt="card"><br> Higfiger
  </div>
  <div>
    <img src="./mama earth.svg" alt="card"><br> Mama Earth
  </div>
  <div>
    <img src="./mama earth.svg" alt="card"><br> Mama Earth
  </div>
</div>
  



<button class="button type1">
  <span class="btn-txt">View more</span>
</button>


<app-footer></app-footer>