<app-header></app-header>
<div class="container" >
  <h1 class="fw-bold mx-5">Find the Best Deals, All in One Place</h1>
  <p class="mx-5" style=" font-size: 20px;">
    The best deals and sales from your favourite stores, plus get exclusive free shipping <br>and price drop alerts </p>
  <div class=" mx-5 mt-5 mb-5 d-flex justify-content-between">
    <h2 class="fw-bold  "> Top Deals</h2>
    <p class="fw-bold">{{ Topcompany.length }} deals</p>
  </div>
</div>
<div class="brand-scroll-container">
  <button class="brand-scroll-btn left" (click)="scrollBrandsLeft()">&#10094;</button>
  <div class="brand-scroll-wrapper" #brandScrollable>
    <div class="brand-scroll-item" *ngFor="let brand of Topcompany">
       <a href="{{brand.companyUrl}}" target="_blank"><img [src]="brand.image" alt="brand.alt" /></a> 
      <span>{{ brand.companyName }}</span>
    </div>
  </div>
  <button class="brand-scroll-btn right" (click)="scrollBrandsRight()">&#10095;</button>
</div>
<div class="container">
  <div class=" mx-5  mb-5 d-flex justify-content-between">
    <h2 class="fw-bold "> Deals with Free 2-Day Shipping
    </h2>
    <p class="fw-bold">{{ shippingData.length }} deals</p>
  </div>
</div>
<div class="brand-scroll-container">
  <button class="brand-scroll-btn left" (click)="scrollDealsLeft()">&#10094;</button>
  <div class="brand-scroll-wrapper" #dealsScrollable>
    <div class="brand-scroll-item" *ngFor="let brand of shippingData">
      <a href="{{brand.companyUrl}}" target="_blank"><img [src]="brand.image" alt="brand.alt" /></a>
      <span>{{ brand.companyName }}</span>
    </div>
  </div>
  <button class="brand-scroll-btn right" (click)="scrollDealsRight()">&#10095;</button>
</div>
<div class="container">
  <div class=" mx-5  mb-5 d-flex justify-content-between">
    <h2 class="fw-bold "> Member Exclusives
    </h2>
    <p class="fw-bold">{{ exclusive.length }} deals</p>
  </div>
</div>
<div class="brand-scroll-container">
  <button class="brand-scroll-btn left" (click)="scrollEXLeft()">&#10094;</button>
  <div class="brand-scroll-wrapper" #ExclusivesScrollable>
    <div class="brand-scroll-item" *ngFor="let brand of exclusive">
      <a href="{{brand.companyUrl}}" target="_blank"><img [src]="brand.image" alt="brand.alt" /></a>
      <span>{{ brand.companyName }}</span>
    </div>
  </div>
  <button class="brand-scroll-btn right" (click)="scrollEXRight()">&#10095;</button>
</div>

<h2 class="Explore-more">Explore more deals</h2>
<div class="explore-buttons ">
  <button type="button" class="btn btn-dark mx-1">All Deals</button>
  <button type="button" *ngFor="let items of cdata"  class="btn btn-outline-secondary mx-1">{{ items.catName }}</button>
</div>


<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" *ngFor="let brand of visibleBrands">
    <a (click)="getId(brand._id)"><img [src]="brand.image" alt="{{ brand.alt }}" class="img-fluid" /></a>  
      <p class="fw-bold mt-2">{{ brand.companyName }}</p>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-5 mt-3"  *ngIf="!showAllBrands">
    <button class="btn btn-dark " (click)="toggleBrands()" >View More
    </button>
  </div>
</div>

<app-footer></app-footer>
